<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/style.ejs') %>  
    <style>
        body{
        background-image: url("images/background2.jpg");
        background-clip: text;
        font-weight: 600;
    }
        .card{
            margin-inline:auto;
            margin-top:40px;
        }
    
        .card-img-top{
            margin: 15px;
        }
    
        .card > .card-img-top{
            width: 92%;
        }
    
        form > .card{
            width: 80%;
        }
    
        .blogCard{
            width: 75%;
        }
    
        .thumbnail{
                width: 45%;
                aspect-ratio: 16/9;
            }
    
        @media(max-width:400px){
            .blogCard{
                width: 80%;
            }
            
            .thumbnail{
                width: 90%;
                aspect-ratio: 16/9;
            }
        }
    </style> 
</head>
<body>
    <%- include('../partials/nav') %>

        <div class="card blogCard" >
            <% if (locals.blog) { %>
                <% if (blog.thumbnail != '') { %>
                    <img src="data:image/<%=blog.thumbnail.contentType%>;base64,<%=blog.thumbnail.data.toString('base64')%>" class="thumbnail" >
                <% } %> 
                <div class="card-body">
                     <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text"><%= blog.message %></p>
                </div>
                <% if (locals.creator) { %>
                    <img src=images/<%=creator.profilePicture%> class="card-img-top" style="height:30px; width: 30px;margin-bottom:0px">
                    <div class="card-body" style="height: 20px;padding: 0px;margin-left: 10px;margin-bottom: 10px;">
                        <span class="card-title" style="font-size: 15px;"><%=creator.userName  %></span>
                    </div>
                <% } %>
                
                <% if (locals.allcomments) { %>
                        <% allcomments.forEach(comment => { %>
                            <div class="card text-bg-secondary" style="width: 90%; height: fit-content; margin: 10px; padding: 2px;">
                                <div class="mb-2" style="height: 20px; padding: 2px;">
                                    <%= comment.createdBy %>
                                </div>
                                <div class="text-bg-light" style="height: 25px; padding: 2px;">
                                <p class="card-text"> <%= comment.comment %></p>
                                </div>
                            </div>
                            
                        <% }) %>
                <% } %>

                <form action="/blog/comment/<%= blog._id %>" method="get">
                    <div class="mb-3" >
                      <label  class="form-label" style="margin: 15px;margin-bottom: 0px;" >Comment (<%= locals.allcomments.length %>)</label>
                      <% if (locals.user) { %>
                        <input type="text" class="form-control" style="margin: 15px; width: 90%;"name="comment" >
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin: 15px;" >Add</button>
                    <% } %>
                      
                </form>

            <% } %>
            

        </div>  
    </div>
    <%- include('../partials/script') %>
</body>
</html>